<div class="table-data">
  <div class="card">
      <div class="card-header">
        <h2>
            Meu Perfil
        </h2> 
      </div>
      <div class="card-body">
        <div *ngIf="message" class="alert alert-success" role="alert">{{message}}</div>
        <table class="table table-pane">
          <thead>
              <tr>
                  <th>ID</th>
                  <th>NIF</th>
                  <th>Nome</th>
                  <th>Apelido</th>
                  <th>Email</th>
                  <th>Telefone</th>
                  <th>Role</th>
                  <th>Modificar</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of Users | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }">
                  <td>{{user.id}}</td>
                  <td> {{user.cin}} </td>
                  <td>{{user.nom}}</td>
                  <td>{{user.prenom}}</td>
                  <td>{{user.mail}}</td>
                  <td>{{user.telephone}}</td>
                  <td>{{user.role}}</td>
                  <td><a [routerLink]="['/users', user.id, 'edit']" class="btn btn-success"><i class="fa-solid fa-pen-to-square"></i></a></td>
              </tr>
            </tbody>
        </table>
      </div>
  </div>
</div>
