<div class="table-data">
    <div class="card">
        <div class="card-header">
          <h3>
            Lista de pagamentos realizados
            <a routerLink="/payement/add" type="button" class="btn btn-success float-end">Adicionar</a>
          </h3>
          <div *ngIf="message" class="alert alert-success" role="alert">{{message}}</div>
        </div>
        <div class="card-body">
          <button type="button" class="btn btn-secondary float-end" (click)="exportToCSV()">Exportar para CSV</button>
          <div class="row mb-3">
            <div class="col-md-4 float-end">
              <label for="startDate">Data início:</label>
              <input type="date" id="startDate" [(ngModel)]="startDate" class="form-control">
            </div>
            <div class="col-md-4">
              <label for="endDate">Data Fim:</label>
              <input type="date" id="endDate" [(ngModel)]="endDate" class="form-control">
            </div>
            <div class="col-md-4 d-flex align-items-end">
              <button class="btn btn-success me-2" (click)="applyFilter()">Pesquisar</button>
              <button class="btn btn-secondary" (click)="clearFilter()">Limpar</button>
            </div>
          </div>
          
          <table class="table tab-pane">
            <thead>
                <tr>
                    <th (click)="sort('cin_adherant')">NIF</th>
                    <th (click)="sort('nom')">Nome</th>
                    <th (click)="sort('prenom')">Apelido</th>
                    <th (click)="sort('date_payement')">Data do pagamento</th>
                    <th (click)="sort('prix')">Preço</th>
                    <th>Eliminar</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let payement of filteredPayementList | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }">
                    <td>{{payement.cin_adherant}}</td>
                    <td>{{payement.nom}}</td>
                    <td>{{payement.prenom}}</td>
                    <td>{{payement.date_payement}}</td>
                    <td>{{payement.prix}} MAD</td>
                    <td><button (click)="deletePayement($event, payement.id)" class="btn btn-danger"><i class="fa-regular fa-trash-can"></i></button></td>
                </tr>
                
              </tbody>
          </table>
          <pagination-controls (pageChange)="onPageChange($event)" class="pagination"></pagination-controls>
        </div> 
  </div>
</div>