<div class="table-data">
  <div class="card">
    <div class="card-header">
      <h2>
        Lista de desportos
        <a routerLink="/sports/add"  class="btn btn-success float-end">Adicionar</a>
      </h2>
      <input class="form-control me-2" [(ngModel)]="data" name="data" type="search" placeholder="Introduzir o nome" (input)="chercherSport()">
    </div>
    <div class="card-body">
      <button type="button" class="btn btn-secondary float-end" (click)="exportToCSV()">Exportar para CSV</button>
      <div *ngIf="message" class="alert alert-success" role="alert">{{message}}</div>
      <table class="table table-pane">
        <thead>
            <tr>
                <th>Referência</th>
                <th>Nome</th>
                <th>Número máximo de sessões</th>
                <th>Modificar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
          <tr *ngFor="let sport of sports">
            <td>{{sport.id}}</td>
            <td>{{sport.nom}}</td>
            <td>{{sport.nmbr_max_seance_semaine}}</td>
            <td><a routerLink="/sports/{{sport.id}}/edit" class="btn btn-success"><i class="fa-solid fa-pen-to-square"></i></a></td>
            <td><a (click)="deleteSport($event, sport.id)" class="btn btn-danger" ><i class="fa-regular fa-trash-can"></i></a></td>
          </tr>
        </tbody>
      </table> 
      <pagination-controls (pageChange)="onPageChange($event)" class="pagination"></pagination-controls>
    </div> 
  </div>
</div>