<div class="formulaire">
    <h2>Adicionar um novo utilizador</h2>
    <div>
      <div *ngIf="error" class="alert alert-danger" role="alert">{{error}}</div>
        <form class="row g-3 needs-validation" (ngSubmit)="UpdateUser()">
            <div class="mb form-champ">
              <label for="validationCustom01" class="form-label">CIN</label>
              <input type="text" [(ngModel)]="User.cin" name="cin" class="form-control" id="validationCustom01" value="" required>
            </div>
            <div class="mb form-champ">
              <label for="validationCustom02" class="form-label">Nome</label>
              <input type="text" [(ngModel)]="User.nom" name="nom" class="form-control" id="validationCustom02" value="" required>
            </div>
            
            <div class="col-md-3 form-champ">
              <label for="validationCustom03" class="form-label">Apelido</label>
              <input type="text" [(ngModel)]="User.prenom" name="prenom" class="form-control" id="validationCustom03" required>
            </div>
            <div class="mb form-champ">
                <label for="validationCustomUsername" class="form-label">E-mail</label>
                <div class="input-group has-validation">
                  <span class="input-group-text" id="inputGroupPrepend">&#64;</span>
                  <input type="text" [(ngModel)]="User.mail" name="mail" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
                </div>
              </div>
              <div class="mb form-champ">
                <label for="validationCustom03" class="form-label">Password</label>
                <input type="password" [(ngModel)]="password" name="password" class="form-control" id="validationCustom03" required>
              </div>
              <div class="mb form-champ">
                <label for="validationCustom05" class="form-label">Telefone</label>
                <input type="number" [(ngModel)]="User.telephone" name="telephone" class="form-control" id="validationCustom05" required>
              </div>

              <div class="mb form-champ">
                <label for="validationCustom05" class="form-label">Cargo</label>
                <select  class="form-select" id="validationCustom04" required (change)="onRoleChange($event)">
                  <option selected disabled>Escolher cargo</option>
                  <option name="role">Admin</option>
                  <option name="role">SuperAdmin</option>
                </select>
              </div>
              <button type="submit" class="btn btn-success">Guardar</button>
              <div *ngIf="message" class="alert alert-success" role="alert">{{message}}</div>
          </form>
    </div>
</div>