<section id="content">
    <main>
      <div class="head-title">
        <div class="left">
          <h1>Dashboard</h1>
        </div>
      </div>
      <div class="flex">
        <app-dashboard-cards link="abonnement" myclass="bx fa-solid fa-address-card" titleh3="{{NombreAbonnements}}" text="Total de Assinaturas"></app-dashboard-cards>
        <app-dashboard-cards link="adherant" myclass="bx fa-solid fa-user" titleh3="{{NombreAdherants}}" text="Total de Aderentes"></app-dashboard-cards>
        <app-dashboard-cards link="sports" myclass="bx fa-solid fa-dumbbell" titleh3="{{NombreSports}}" text="Total de Desportos"></app-dashboard-cards>
        <app-dashboard-cards link="payement" myclass="bx fa-solid fa-hand-holding-dollar" titleh3= "{{Budget}} EUR" text="Receita do último mês"></app-dashboard-cards>
      </div>
      <app-dashboard-table></app-dashboard-table>
    </main>
  </section>