<div class="table-data">
  <div class="card">
      <div class="card-header">
        <h2>
            Lista de treinadores
          <a routerLink="/monitor/add" type="button" class="btn btn-success float-end">Adicionar</a>
        </h2>
        <input class="form-control me-2" [(ngModel)]="data" name="data" type="search" placeholder="Introduzir o NIF ou nome" (input)="chercherCoach()">
      </div>
      <div class="card-body">
        <button type="button" class="btn btn-secondary float-end" (click)="exportToCSV()">Exportar para CSV</button>

        <div *ngIf="message" class="alert alert-success" role="alert">{{message}}</div>
        <table class="table table-pane">
          <thead>
              <tr>
                  <th>NIF</th>
                  <th>Nome</th>
                  <th>Apelido</th>
                  <th>Endereço</th>
                  <th>Telefone</th>
                  <th>Email</th>
                  <th>Data Entrada</th>
                  <th>Aula</th>
                  <th>Modificar</th>
                  <th>Eliminar</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let monitor of monitor_list | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }">
                  <td>{{monitor.cin}}</td>
                  <td>{{monitor.nom}}</td>
                  <td>{{monitor.prenom}}</td>
                  <td>{{monitor.adress}}</td>
                  <td>{{monitor.telephone}}</td>
                  <td>{{monitor.mail}}</td>
                  <td>{{monitor.date_entree }}</td>
                  <td>{{monitor.nom_sport}}</td>
                  <td><a routerLink="/monitor/{{monitor.id}}/edit" class="btn btn-success" ><i class="fa-solid fa-pen-to-square"></i></a></td>
                  <td><a (click)="deleteCoach($event, monitor.id)" class="btn btn-danger"><i class="fa-regular fa-trash-can"></i></a></td>
              </tr>
            </tbody>
        </table>
        <pagination-controls (pageChange)="onPageChange($event)" class="pagination"></pagination-controls>
      </div>
  </div>
</div>