<section id="content">
    <main>
      <div class="head-title">
        <div class="left">
          <h1>Pagamentos</h1>
        </div>
      </div>
      <div class="flex">
        <app-dashboard-cards myclass="bx fa-solid fa-hand-holding-dollar" titleh3= "{{MonthBudget}} EUR" text="Receita do último mês"></app-dashboard-cards>
        <app-dashboard-cards myclass="bx fa-solid fa-hand-holding-dollar" titleh3= "{{TotalBudget}} EUR" text="Receita Total"></app-dashboard-cards>
      </div>
      <app-table-payements></app-table-payements>
      
    </main>
</section>