<div class="table-data">
    <div class="order">
        <div class="head">
          <h3>Assinaturas que terminam em breve </h3>
        </div>
        <table>
          <thead>
            <tr>
              <th>Utilizador</th>
              <th>Data de início da assinatura</th>
              <th>Data de fim da assinatura</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let abonnement of Abonnements | paginate: {itemsPerPage: itemsPerPage, currentPage: currentPage}">
              <td>{{abonnement.nom}}</td>
              <td>{{abonnement.date_debut}}</td>
              <td>{{abonnement.date_fin}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>