<div class="table-data">
  <div class="card">
      <div class="card-header">
        <h2>
            Lista de Utilizadores
            <a routerLink="/users/add" class="btn btn-success float-end">Adicionar</a>
        </h2> 
          <input class="form-control me-2" [(ngModel)]="data" name="data" type="search" placeholder="Introduzir o NIF, email ou nome" (input)="chercherUser()">
      </div>
      <div class="card-body">
        <button type="button" class="btn btn-secondary float-end" (click)="exportToCSV()" >Exportar para CSV</button>

        <div *ngIf="message" class="alert alert-success" role="alert">{{message}}</div>
        <table class="table table-pane">
          <thead>
              <tr>
                  <th>ID</th>
                  <th>NIF</th>
                  <th>Nome</th>
                  <th>Apelido</th>
                  <th>Email</th>
                  <th>Telefone</th>
                  <th>Role</th>
                  <th>Modificar</th>
                  <th>Ação</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of Users | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }">
                  <td>{{user.id}}</td>
                  <td> {{user.cin}} </td>
                  <td>{{user.nom}}</td>
                  <td>{{user.prenom}}</td>
                  <td>{{user.mail}}</td>
                  <td>{{user.telephone}}</td>
                  <td>{{user.role}}</td>
                  <td><a routerLink="/users/{{user.id}}/edit" class="btn btn-success"><i class="fa-solid fa-pen-to-square"></i></a></td>
                  <td>
                    <button (click)="deleteUser($event, user.id)" class="btn btn-danger"><i class="fa-regular fa-trash-can"></i></button>
                  </td>
              </tr>
            </tbody>
        </table>
        <pagination-controls (pageChange)="onPageChange($event)" class="pagination"></pagination-controls>
      </div>
  </div>
</div>
