<div class="formulaire">  
    <div class="formulaire">
        <h3>Pessoal</h3>
        <form class="row g-3 needs-validation" (ngSubmit)="updateAdherant()">
            <div class="col-md-3 form-champ">
              <label for="validationCustom01" class="form-label">CIN</label>
              <input type="text" [(ngModel)]="adherant.cin" name="cin" class="form-control" id="validationCustom01" value="" required>
            </div>
            <div class="col-md-3 form-champ">
              <label for="validationCustom02" class="form-label">Nom</label>
              <input type="text" [(ngModel)]="adherant.nom" name="nom" class="form-control" id="validationCustom02" value="" required>
            </div>
            
            <div class="col-md-3 form-champ">
              <label for="validationCustom03" class="form-label">Prenom</label>
              <input type="text" [(ngModel)]="adherant.prenom" name="prenom" class="form-control" id="validationCustom03" required>
            </div>
            <div class="col-md-3 form-champ">
                <label for="validationCustomUsername" class="form-label">E-mail</label>
                <div class="input-group has-validation">
                  <span class="input-group-text" id="inputGroupPrepend">&#64;</span>
                  <input type="text" [(ngModel)]="adherant.mail" name="mail" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
                </div>
              </div>
              <div class="col-md-3 form-champ">
                <label for="validationCustom03" class="form-label">Password</label>
                <input type="password" [(ngModel)]="adherant.password" name="password" class="form-control" id="validationCustom03" required>
              </div>
              <div class="col-md-3 form-champ">
                <label for="validationCustom05" class="form-label">Data de nascimento</label>
                <input type="date" [(ngModel)]="adherant.date_naissance" name="date_naissance" class="form-control" id="validationCustom05" required>
              </div>
              <div class="col-md-3 form-champ">
                <label for="validationCustom05" class="form-label">Telefone</label>
                <input type="number" [(ngModel)]="adherant.telephone" name="telephone" class="form-control" id="validationCustom05" required>
              </div>
              <div class="col-md-3 form-champ">
                <label for="validationCustom05" class="form-label">Endereço</label>
                <input type="text" [(ngModel)]="adherant.adress" name="adress" class="form-control" id="validationCustom05" required>
              </div>
              <div class="col-md-3 form-champ">
                <label for="validationCustom04" class="form-label">Ville</label>
                <input type="text" class="form-control" [(ngModel)]="adherant.ville" name="ville" id="validationCustom04" required>
              </div>
              <div class="col-md-3 form-champ">
                <label for="validationCustom03" class="form-label">Nome do Pai</label>
                <input type="text" [(ngModel)]="adherant.nom_pere" name="nom_pere" class="form-control" id="validationCustom03" required>
              </div>
              <div class="col-md-3 form-champ">
                <label for="validationCustom03" class="form-label">Nome da Mãe</label>
                <input type="text" [(ngModel)]="adherant.nom_mere" name="nom_mere" class="form-control" id="validationCustom03" required>
              </div>
              <div class="col-md-3 form-champ">
                <label for="validationCustom03" class="form-label">Telefone dos Pais</label>
                <input type="number" [(ngModel)]="adherant.tel_parant" name="tel_parant" class="form-control" id="validationCustom03" required>
              </div> 
              <button type="submit" class="btn btn-success">Guardar</button>
          </form>
    </div>
      <div *ngIf="message" class="alert alert-success" role="alert">{{message}}</div>
      <div *ngIf="error" class="alert alert-success" role="alert">{{error}}</div>
</div>